{% extends "base.html.twig" %}

{% block body %}
    <h2>Informations personnelles</h1>
    <div style="width: 30%" >
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
    <div>
        <h2>Mes établissements</h1>
        <span><a href="{{ path("etb_manage_create") }}">Nouveau</a></span>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th></th>
            </tr>
            {% for etb in user.establishments %}
                <tr>
                    <td>{{ etb.id }} </td>
                    <td><a href="{{ path("etb_detail", { '_id' : etb.id }) }}">{{ etb.name }}</a></td>
                    <td>
                        <form action="{{ path("etb_manage_delete") }}">
                            <input type="hidden" name="idEtb" value="{{ etb.id }}" />
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
