<div id="modal-connection" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'home.connection'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <a id="facebook-login-button" class="btn btn-block btn-social btn-lg btn-facebook">
                        <span class="fa fa-facebook"></span> 
                        {{ 'home.facebook_login'|trans }}
                    </a>
                </div>
                <br />
                <div>
                    <a href="{{ url("hwi_oauth_service_redirect", {service: "google"}) }}"
                       id="google-login-button" class="btn btn-block btn-social btn-lg btn-google">
                        <span class="fa"><img src="{{ asset("img/g-logo.png") }}" style="width:30px; padding-bottom: 7px;" /></span> 
                        {{ 'home.google_login'|trans }}
                    </a>
                </div>
                <hr />
                {#% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %#}
                <form id="form-login" class="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="text" id="username" name="_username" value="{#{ last_username }#}" required="required" class="form-control "/>
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn" />
                    <div id="status"></div>
                </form>
                <form id="facebook-login-form" action="" method="post">
                    <input type="hidden" name="_fb_id" value="" />
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>