{% extends 'base.html.twig' %}

{% block body %}
    
    <br />
    <h1>Page d'accueil</h1>
    <p>Liste des établissements</p>
    <table class="table" style="width: 40%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Owner</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for e in establishments %}
            <tr>
                <td> {{ e.id }} </td>
                <td><a href="{{ path("etb_detail", { '_id' : e.id }) }}"> {{ e.name }} </a></td>
                <td> {{ e.userOwner.username }} </td>
                <td> 
                    {% if is_granted('edit', e) %}
                    <form action="{{ path("etb_manage_delete") }}">
                        <input type="hidden" name="idEtb" value="{{ e.id }}" />
                        <input type="submit" value="Supprimer" class="btn btn-primary" />
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
{% endblock %}
