{% extends 'base.html.twig' %}

{% block title %}
    {{ establishment.name }}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<div style="float: left; border: 1px black solid; width: 300px; height: 250px; margin: 10px; background: url('{{ asset('img/1.jpg') }}'); background-size: cover">
                <center>{{ 'establishment.picture'|trans}}</center>
            </div>-->
            <div>
                <h1>{{ establishment.name }}</h1>
                {% if is_granted('edit', establishment) %}
                    <a href="{{ path("etb_manage_update", { '_id' : establishment.id }) }}">{{ 'establishment.manage.link'|trans}}</a>
                {% endif %}
                <p>{{ establishment.adress }}</p>
            </div>
            <p>{{ establishment.description }}</p>
        </div>
        <div class="panel-body">
            <h2> Activités </h2>
            <table class="table" style="width: 30%;">
                {% for activity in establishment.activities %}
                    <tr>
                        <td>{{ activity.activityType.name }}</td>
                        <td>{{ activity.description }}</td>
                        <td>{{ activity.price }}€</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock %}