{% extends 'base.html.twig' %}

{% block title %}
    {{ establishment.name }}
{% endblock %}

{% block body %}
    <div id="etb-picture" class="row"
         alt="{{ 'establishment.picture'|trans}}"
         style="background-image: url('{{ asset('img/etb/' ~ establishment.imageName) }}');
                background-position-y: -{{ establishment.imageOffset }}px">
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12 etb-left-panel">
            <h1>{{ establishment.name }}</h1>
            {% if is_granted('edit', establishment) %}
                <a href="{{ path("etb_manage_update", { '_id' : establishment.id }) }}">{{ 'establishment.manage.link'|trans}}</a>
            {% endif %}
            <h2>{{ 'establishment.desc'|trans}}</h2>
            <p>{{ establishment.description }}</p>
            <h2>{{ 'establishment.custom_commit'|trans}}</h2>
            <p>{{ establishment.customCommitments }}</p>
        </div>
        <div class="col-md-4 col-xs-12 etb-right-panel"> 
            <h2>{{ 'establishment.useful_info'|trans}}</h2>
            <p>{{ establishment.usefulInfo }}</p>
            <p>{{ establishment.adress }}, {{ establishment.adressCity }}</p>
            <p>{{ establishment.adressRegion }}, {{ establishment.adressCountry.nameFrFr }}</p>
            <p>{{ establishment.contactPhone }}</p>
        </div>
    </div>
    <h2> {{ 'establishment.activities'|trans}} </h2>
    <table class="table" style="width: 30%;">
        {% for activity in establishment.activities %}
            <tr>
                <td>{{ activity.activityType.name }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.price }}€</td>
            <tr>
        {% endfor %}
    </table>
    
{% endblock %}